/* You can add global styles to this file, and also import other style files */
@import './resources/vendor/semantic.min.css';

.ui.menu .item img.logo {
    margin-right: 1.5em;
}


.ui.items>.item {
  border: 1px solid rgba(255, 255, 255, 0.0);
  border-radius: 5px;
}

.ui.items>.item.selected {
  border: 1px solid rgba(163, 51, 200, 0.41);
  border-radius: 5px;
}

.ui.items>.item>.content>.header {
    padding-top: 1em;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

cf {
    *zoom: 1;
}

/* forms css styles */

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

/* by default, semantic UI hides these unless the whole form is in the same
state. we don't want to impose that requirement */
.ui.form .error.message,
.ui.form .success.message,
.ui.form .warning.message {
  display: block;
}

.segment {
  margin: 1em 0;
}

.ui.segment:last-child {
    margin-bottom: 1em;
}
.ui.segment:first-child {
    margin-top: 1em;
}

.dotted {
  border: 2px dotted green;
  background-color: yellow;
}
